body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #d7440f;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 { 
  background-color: #4e4e4e; /* Dark */
  background-image: url('../css/images/BaganImage.jpg'); 
  color: #ffffff;
}
.bg-2 { 
  background-color: #573b07; /* Dark Blue */
  color: #ffffff;
}
.bg-3 { 
  background-color: #383838; /* White */
  color: #ffffff;
}
.bg-4 { 
  background-color: #2f2f2f; /* Black Gray */
  color: #ffffff;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
  background-color: #4e4e4e;
  color: #ffff;
}
.navbar-brand span{color: #da2a2a;}
.navbar-brand span{color: #16e8f7; font-size: larger; font-weight: 500;}
.navbar-nav  li a:hover {
  color: #1abc9c !important;
}
footer .copyright{width: 50vw; text-align: center;}
